body {
    font-family: Arial, sans-serif;
    background-image: url("img/planodefundo1.webp");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.form-header {
    margin-bottom: 20px;
    display: flex;
justify-content: space-between;
}
.form {
width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #fff;
padding: 3rem;
}

.title h1 {
    font-size: 24px;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}

input[type="date"],
input[type="time"],
input[type="text"],
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
}

input[type="date"]:hover,
input[type="time"]:hover,
input[type="text"]:hover,
select:hover {
    background-color: #f0f0f0;
}

.continue-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}